body {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    text-align: center;
    border-bottom: 0.2rem solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

nav ul li {
    padding-right: 1rem;
}

nav ul li:last-child {
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

div.home-hero {
    width: 100%;
    height: 25rem;
    position: relative;
}

div.home-hero h1 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

div.home-content > p {
    text-align: center;
    font-size: 1.5rem;
}

div.home-content div.three-column div {
    float: left;
    width: 33.33%;
    column-gap: 7rem;
}

div.home-content div.three-column div p {
    padding: 1.5rem;
}

div.home-content div.three-column:after {
    content: "";
    display: table;
    clear: both;
}

div.home-content div.three-column * {
    text-align: center;
    margin: 0;
}

footer {
    border-top: 0.2rem black solid;
    padding: 1.5rem;
    text-align: center;
}
